h1{
	width:100%;
	padding:20px 10px;
	background-color: #858585;
	color:#fff;
	margin-bottom:0;
}

.title{

	box-sizing: border-box;
	float:left;
	width:20%;
	height:200px;
	border:1px solid #ddd;
	background-color: #d6d6d6;
	margin-bottom: 1px;
	text-align: center;
	line-height: 160px;
}
.part{
	box-sizing: border-box;
	float:left;
	width:80%;
	height:200px;
	border:1px solid #ddd;
	margin-bottom: 1px;
	padding-top:10px;
	padding-left: 10px;
}
.part div{
	display: inline-block;

}
.part h3{
	width:100px;
}